.container {
	max-width: 1000px;
	margin: 0 auto;
	}
.container h1{
	text-align: center;
	font-family: Comic Sans MS;
	color:black;
	margin-top: 50px;}

.img-container {
	text-align: justify;border-right: 
}